<!-- Fondo violeta completo -->
<div class="fondo">
  <div class="container pb-4">
    <div class="row pt-4">
      @for (celular of listadoCelulares; track $index) {
      <div class="col-md-4 mb-4">
        <div class="card shadow-sm h-100 bg-trasparente">
          <!-- Imagen del producto -->
          <img
            [src]="celular.imagen1 || '/assets/default.jpg'"
            alt="Imagen del celular"
            class="card-img-top img-fluid imagen-celular"
          />

          <div class="card-body">
            <p class="card-text text-center text-white">
              <strong>Nombre: {{ celular.nombre }}</strong>
            </p>
            <p class="card-text text-center text-white">
              <strong>Modelo: {{ celular.modelo }}</strong>
            </p>
            <p class="card-text text-center text-white">
              <strong>Gb: {{ celular.gb }}</strong>
            </p>
            <p class="card-text text-center text-white">
              <strong>Color: {{ celular.color }}</strong>
            </p>
            <p class="card-text text-center text-white">
              <strong>Precio: ${{ celular.precio }}</strong>
            </p>

            <div class="d-flex flex-column gap-2 mt-3">
              <button
                type="button"
                class="btn btn-info"
                [routerLink]="['/celulares', celular.id]"
              >
                Ver Detalle
              </button>
              <button
                type="button"
                class="btn btn-success"
                [routerLink]="['/modificar', celular.id]"
              >
                Modificar Celular
              </button>
              <button
                type="button"
                class="btn btn-danger"
                (click)="eliminarCelular(celular.id)"
              >
                Borrar Celular
              </button>
            </div>
          </div>
        </div>
      </div>
      }
    </div>

    <div class="text-center mt-4">
      <button class="btn bg-violet" routerLink="">Volver al Inicio</button>
    </div>
  </div>
</div>
