<div class="container-form background-img">
  <!-- Formulario sobre la imagen -->
  <form
    [formGroup]="miFormulario"
    (ngSubmit)="modificar()"
    class="form-content shadow"
  >
    <h3 class="text-center mb-4 text-light">Modificar Celular</h3>
    <div class="formulario row g-4">
      <!-- Columna 1 -->
      <div class="col-md-6">
        <div class="mb-3">
          <label for="nombre" class="form-label text-light">Nombre</label>
          <input
            type="text"
            class="form-control"
            id="nombre"
            formControlName="nombre"
          />
        </div>
        <div class="mb-3">
          <label for="modelo" class="form-label text-light">Modelo</label>
          <input
            type="text"
            class="form-control"
            id="modelo"
            formControlName="modelo"
          />
        </div>
        <div class="mb-3">
          <label for="gb" class="form-label text-light">Gb</label>
          <input
            type="text"
            class="form-control"
            id="gb"
            formControlName="gb"
          />
        </div>
        <div class="mb-3">
          <label for="color" class="form-label text-light">Color</label>
          <input
            type="text"
            class="form-control"
            id="color"
            formControlName="color"
          />
        </div>
        <div class="mb-3">
          <label for="precio" class="form-label text-light">Precio</label>
          <input
            type="text"
            class="form-control"
            id="precio"
            formControlName="precio"
          />
        </div>
      </div>

      <!-- Columna 2 -->
      <div class="col-md-6">
        <div class="mb-3">
          <label for="imagen1" class="form-label text-light">Imagen 1</label>
          <input
            type="text"
            class="form-control"
            id="imagen1"
            formControlName="imagen1"
          />
        </div>
        <div class="mb-3">
          <label for="imagen2" class="form-label text-light">Imagen 2</label>
          <input
            type="text"
            class="form-control"
            id="imagen2"
            formControlName="imagen2"
          />
        </div>
        <div class="mb-3">
          <label for="imagen3" class="form-label text-light">Imagen 3</label>
          <input
            type="text"
            class="form-control"
            id="imagen3"
            formControlName="imagen3"
          />
        </div>
        <div class="mb-3">
          <label for="imagen4" class="form-label text-light">Imagen 4</label>
          <input
            type="text"
            class="form-control"
            id="imagen4"
            formControlName="imagen4"
          />
        </div>

        <!-- Botones -->
        <div class="d-flex flex-column gap-3 mt-4">
          <button type="submit" class="btn btn-success">
            Modificar Celular
          </button>
          <button type="button" class="btn btn-warning" (click)="limpiar()">
            Limpiar
          </button>
          <button class="btn bg-violet" routerLink="/celulares">Volver</button>
        </div>
      </div>
    </div>
  </form>
</div>
